<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        {% if form.non_field_errors %}
        <ul style="color: red;">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <input type="submit" value="Submit">
        <a href="{% url 'signup' %}">Signup</a>
    </form>
</body>

</html>