<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'enroll/css/userregistration.css' %}">
</head>

<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div>
            {{fm.label_tag}}{{fm}}{{fm.errors}}
            <!-- fm.errors is used to display validation error messages in html -->
        </div>
        {% endfor %}


        <br><br><br><br><br><br><br>

        {{form}}
        <input type="submit" value="submit">

    </form>
</body>

</html>