<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
  </head>
  <body>
    <form action="" method="get"></form>

     {% for field in form.visible_fields %} 
     {{field.label_tag}}   
     {{field}}    
     {% endfor %}
  
     {% for hidden in form.hidden_fields %} 
     {{hidden}}  
     {% endfor %}
  
    <input type="submit" value="submit" />
  </body>
</html>
