<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}" />
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <!-- {{form.as_p}} -->

      {% for fm in form %} {{fm.label_tag}} {{fm}} {{fm.errors | striptags}}
      <br /><br />
      {% endfor %}

      <input type="Submit" value="Login" />
    </form>
    <a href="{% url 'signup' %}">Sign up</a>
  </body>
</html>
