/* core/css/base.css */

/* Navigation styles */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: darkslategray;
}

h1{
    color: white;
}

nav a{
    color: yellow;
}